
html{
    font-size: 15px;
    box-sizing: border-box;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1120px;
    margin: 0 auto;

}

.flex{
    display: flex;

    &-jc-c{
        justify-content: center;
    }
    &-jc-sb{
        justify-content: space-between;
    }
    &-ai-c{
        align-items: center;
    }
}

@media (min-width: 66.67rem) {
    .hide-for-desktop{
        display: none;
    }
}
@media (max-width: 66rem) {
    .hide-for-mobile{
        display: none;
    }
}

.head-tag{
    color: $Black;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.btn{
    color: $Black;
    width: 10rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $Dark-Gray;

    &:hover{
        color: $White;
        background-color: $Black;
    }
}
/*

### Fonts
- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300

*/





